body{
    background-image: url("https://mobimg.b-cdn.net/v3/fetch/6f/6feb85f23b24f2e9ed6e75069f065fdb.jpeg")
}
header {
    display: flex;
    height: 50%;
    background-color: black;
    justify-content: center;
        
}

 header a {
    color: orange;
    font-size: x-large;
    text-decoration: none;
    text-align: right;
 }    
 
img{
    width: 400px;
}
main a{
color: aliceblue;
font-size: x-large;
margin-top: 50px;

}

main{
    display: flex;
    justify-content: center;
    text-decoration: none;

}
